
body{
    background-color: #ebeff5;
}

#total_artiste{
    background-color: #4cb4c7;
}

#total_songs{
    background-color: #7abecc;
}

#total_lyrics{
    background-color: #7CD1c0;
}

.hidden{
    display: hidden;
}
