{% extends 'index.html' %}

{% block content %} 

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>LYRIC</h5>
        </div>
        <div class="card card-body">
            <table>
                <tr>
                    <td>Artiste ID :</td>
                    <td>Song ID:</td>
                </tr>
                <tr class=" text text-center">
                    <td>Content</td>
                </tr>
                
                {%  for i in lyrics %}
                <tr>
                    <td>{{i.artiste_id}}</td>
                    <td>{{i.song_id}}</td>
                </tr>
                <tr>
                    <td>{{i.content}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}