{% extends 'index.html' %}

{% block content %} 

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>LYRIC</h5>
        </div>
        <div class="card card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Artiste ID : </strong> {{lyric.song_id.artiste_id.id}}</p>
                </div>
                <div class="col-md-6">
                    <p> <strong>Artiste : </strong> {{lyric.song_id.artiste_id}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Song ID:</strong> {{lyric.song_id.id}}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Song :</strong> {{lyric.song_id}}</p>
                </div>
            </div>
            <table>
                <tr class=" text text-center">
                    <th>Content</th>
                </tr>
                <tr>
                    <td>{{lyric.content}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

{% endblock %}