{% extends 'index.html' %}

{% block content %} 

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Artiste:</h5>
            <a class="btn btn-outline-info btn-sm btn-block" href="">Update Artiste</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Artiste</a>
        </div> 
    </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information:</h5>
                <hr>
                {% for i in songs %}
                    <p>First Name: {{i.artiste_id.first_name}}</p>
                    <p>Last Name: {{i.artiste_id.last_name}}</p>
                {%  endfor %}
            </div> 
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total Songs</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px">{{song_count}}</h1>
            </div>
        </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method ="get">
                <button class="btn btn-sm btn-primary" type="'submit">Search</button>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>SONG:</h5>
        </div>
        <div class="card card-body">
            <table class="table table-striped">
                <tr data-href="/lyric">
                    <th>Title</a></th>
                    <th>Date Released</th>
                    <th>Likes</th>
                    <th>Artiste ID</th>
                    <th>Lyrics</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                
                {% for j in songs %}
                <tr>
                    <td>{{j.title}}</td>
                    <td>{{j.date_released}}</td>
                    <td>{{j.likes}}</td>
                    <td>{{j.artiste_id.id}}</td>
                    <td><a class="btn btn-sm btn-primary" href="lyric/{{j.song_id.id}}">View</a></td>
                    <td><a class="btn btn-sm btn-primary" href="#">Update</a></td>
                    <td><a class="btn btn-sm btn-primary" href="#">Delete</a></td>
                </tr>
                {%  endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock %}