
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_artiste">
                <div class="card-header">
                    <h5 class="card-title">Total Artists</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_artists}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_songs">
                <div class="card-header">
                    <h5 class="card-title">Total Songs</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_songs}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_lyrics">
                <div class="card-header">
                    <h5 class="card-title">Total Lyrics</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_lyrics}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>